<!-- header.component.html -->
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="text-white">
        <span class="text-lg font-bold">
          Mi Aplicación
        </span>
      </div>
      <div class="flex space-x-4">
        <a routerLink="/personas" class="text-white hover:underline">Crear Persona</a>
        <a routerLink="/personas-grid" class="text-white hover:underline">Ver Personas</a>
        <a routerLink="/tareas" class="text-white hover:underline">Crear Tarea</a>
        <a routerLink="/tareas-grid" class="text-white hover:underline">Ver Tareas</a>
      </div>
    </div>
  </div>
</nav>
